pre {
    background-color: #171923;

    code {
        background-color: #171923!important;
        padding: 1em 1.5em;
        overflow: auto;
        color: #ffffff !important;
        display: block;
        text-shadow: none;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
        -webkit-overflow-scrolling: touch;
        max-width: 100%;

        .hl-attribute,
        .hl-template,
        .hl-value {
            color: #4bef96;
        }

        .hl-constant,
        .hl-property,
        .hl-number {
            color: #b288ff;
        }

        .hl-function {
            color: #f98f8c;
        }

        .hl-slug,
        .hl-operator,
        .hl-tag2,
        .hl-keyword,
        .hl-property2,
        .hl-variable,
        .hl-value2 {
            color: #82d4f7;
        }

        .hl-tag,
        .hl-type,
        .hl-literal {
            color: #ffd06b;
        }

        .hl-delimeter,
        .hl-deletion {
            color: #d2cdea;
        }

        .hl-generic,
        .hl-comment {
            color: #8781a2;
        }

        .hl-blur {
            filter: blur(2px);
        }

        .hl-strong {
            font-weight: bold;
        }

        .hl-em {
            font-style: italic;
        }

        .hl-deletion {
            min-width: 100%;
            background-color: #ff000033;
        }

        .hl-addition {
            min-width: 100%;
            background-color: #2a4b3c;
            color: #4bef96;
        }

        .hl-gutter {
            display: inline-block;
            font-size: 0.9em;
            color: #555;
            padding: 0 1ch;
            margin-right: 1ch;
            user-select: none;

            &-addition {
                background-color: #34a853;
                color: #fff;
            }

            &-deletion {
                background-color: #e94f4f;
                color: #fff;
            }
        }
    }
}
