body {
    max-width: 100vw;
    overflow: hidden;
}

body,
button {
    font-variant-numeric: lining-nums proportional-nums;
}

textarea {
    resize: none;
}

.lead {
    font-family: $headings-font-family;
    @extend .text-balance;
}

pre {
    border-radius: 0.8rem;

    code {
        white-space: inherit !important;
    }
}

.turbo-progress-bar {
    height: 2px;
    background-color: $primary;
}

@include media-breakpoint-down(md) {
    .vertical-overflow {
        white-space: nowrap;
        margin-left: -15vw;
        margin-right: -15vw;
        overflow: auto !important;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        flex-wrap: inherit;

        > div {
            padding: 0 !important;
        }

        > div:last-child {
            margin-right: 0 !important;
        }

        &::before {
            content: '';
            padding-left: 15vw; /* smallest size that is cross browser */
        }

        &::after {
            content: '';
            padding-right: 15vw; /* smallest size that is cross browser */
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

[contenteditable='true']:not(:focus):empty:before,
[contenteditable='true']:not(:focus) code:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    color: rgba(255, 255, 255, 0.45);
}

[contenteditable='true']:focus {
    outline: none !important;
}

img {
    color-scheme: var(--bs-color-scheme);
}

@include color-mode(light) {
    img {
        color-scheme: light !important;
    }

    .modal-backdrop {
        --bs-backdrop-bg: #fff !important;
    }
}

@include color-mode(dark) {
    img {
        color-scheme: dark !important;
    }

    .modal-backdrop {
        --bs-backdrop-bg: #000 !important;
    }
}

.modal-sheet .modal-dialog {
    width: 480px;
    transition: bottom 0.75s ease-in-out;
}
.modal-sheet .modal-footer {
    padding-bottom: 2rem;
}
