$animationSliderSpeed: 40s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

// Styling
.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before,
    &::after {
        background: linear-gradient(to right, var(--bs-body-bg) 0%, rgba(255, 255, 255, 0) 100%);
        content: '';
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
        pointer-events: none;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll $animationSliderSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        min-width: 250px;
        width: 20rem;
    }
}
